.content-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:15px;
}
.box{
    padding: 9px;
    background-color: var(--background);
    border-radius: 5%;
    width:30%;
    height:30%;
    cursor: pointer;
}
.thumbnail{
    border-radius: 7px;
    width: 100%;
    height: 80%;
}
.video-context{
    width:100%;
    display: grid;
    grid-template-columns:13% 87% ;
    grid-template-rows: 50% 50%;
    row-gap: 5px;
}
.channel-icon{
    width:30px;
    height:30px;
    border-radius: 25px;
    grid-row: 1/3;
}
.title{
    font-size: 0.5rem;
}
.channel-views{
    font-size: 0.5rem;
    color: gray;
}
.box:hover{
    box-shadow: 2px 2px 10px var(--shadow);
}
