@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Edu+SA+Hand:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --background: white;
    --textBackground: rgb(236, 234, 234);
    --border: rgb(227, 221, 221);
    --shadow: rgb(171, 171, 171);
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.navigation {
    border: 1px solid rgb(227, 221, 221);
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
}

nav {
    padding: 0 10px var(--textBackground);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px;
}

.leftbar {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.centerbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 400px;
    height: 30px;
    padding: 0 5px;
    border-radius: 25px;
    font-size: 1rem;
    border-color: 1px solid black;
}

.rightbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.profilepic {
    border-radius: 50%;
    width: 35px;
}

.hamburger-menu {
    width: 30px;
}

.youtube-logo {
    width: 100px;
    height: 51px;
}

.search-button,
.voice-search {
    width: 30px;
    height: 25px;
}

.upload,
.notification {
    height: 30px;
}

.hamburger-menu,
.youtube-logo,
.search-button,
.voice-search,
.upload,
.notification,
.profilepic {
    cursor: pointer;
}

.layout {
    display: grid;
    height: 100%;
    position: relative;
    grid-template-columns: 82px 94%;
    grid-template-rows: 50px 100%;
}

.firstsection {
    position: sticky;
    align-self: baseline;
    top: 53px;
    padding: 12%;
    grid-row: 1/3;
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    row-gap: 5%;
}

.menu {
    text-align: center;
    border-radius: 7%;
    background-color: var(--background);
    padding: 8px 2px;
    cursor: pointer;
    font-size: 0.5rem;
    margin-bottom: 8px;
}

.menu:hover {
    box-shadow: 2px 2px 10px var(--shadow);
}

.secondsection {
    margin: 2%;
    height: 100%;
}

.tags {
    position: sticky;
    top: 53px;
    padding: 10px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--border);
    background-color: var(--background);
    z-index: 2;
    overflow-x: scroll;
}

.tags h3 {
    padding: 7px;
    font-size: 1rem;
    border-radius: 8px;
    background-color: var(--textBackground);
    cursor: pointer;
}

.tags h3:hover {
    box-shadow: 2px 2px 10px var(--shadow);
}